/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: grid;
  place-items: center;
  background: linear-gradient(45deg, #00eeff, #0be1c8);
  height: 100vh;
}
.container {
  background-color: #fff;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 2, .3);
  border-radius: 18px;
  padding: 20px;
  border: none;
}
input {
  padding: 20px;
  width: 100%;
  height: 70px;
  font-size: 30px;
  border: none;
  border-bottom: 2px solid #000;
  background: transparent;
  color: #000;
  margin-bottom: 10px;
  text-align: right;
}
.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
button {
  background-color: #fff;
  color: #000;
  font-size: 20px;
  width: 75px;
  height: 75px;
  border: none;
  border-radius: 50%;
  box-shadow: 6px 6px 16px 0 rgba(209, 205, 199, .5),
              -6px -6px 16px 0 rgba(255, 255, 255, .5);
  padding: 20px;
  margin: 10px;
}
button:hover {
  box-shadow: inset 6px 6px 16px 0 rgba(209, 205, 199, .5),
              -6px -6px 16px 0 rgba(255, 255, 255, .5);
  cursor: pointer;
}
.operator {
  color: #ffa500;
}
.operator:hover {
  color: #ffa500;
}
.clear:hover {
  color: #ffa500;
}
.del {
  color: #fff;
  background: #ffa500;
  box-shadow: 6px 6px 16px 0 rgba(254, 166, 2, 0.721),
              ;
}
.del:hover {
  box-shadow: inset rgb(255, 166, 0);
  
}
.equal {
  width: 40%;
  border-radius: 12px;
  background-color: #33ff00;
  box-shadow: inset 6px 6px 16px 0 rgba(51, 255, 0, 0.5),
              ;
  color: #fff;
}
.equal:hover {
  box-shadow: inset 6px 6px 16px 0 rgb(43, 210, 2);
}